.annecy {
  background-size: cover;
  border-radius: 10px;
}

.lille {
  background-size: cover;
  border-radius: 10px;
}

.strasbourg {
  background-size: cover;
  border-radius: 10px;
}

.toulouse {
  background-size: cover;
  border-radius: 10px;
}

.malo {
  background-size: cover;
  border-radius: 10px;
}
