.my-footer {
  background-color: #003366;
  color: white;
  padding: 20px;
  min-width: 68vh;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upper-part-footer {
  display: flex;
  flex-direction: row;
}

.upper-part-footer-sides {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
